{% extends 'core/base.html' %}

{% block titile %}
    Acerca de
{% endblock %}

{% block background %} {% load static %}{% static 'core/img/about-bg.jpg' %}{% endblock%}

{% block headers %}
    <h1>Acerca de</h1>
    <span class="subheading">Biografía</span>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-3 col-md-4 offset-lg-1">
        <img class="img-fluid avatar" src="{% static 'core/img/avatar.jpg' %}" alt="">
    </div>
    <div class="col-lg-7 col-md-8">
        <h2 class="section-heading">Jonathan Vázquez</h2>   
        <p>¡Hey! Hola, me presento... Mi nombre es Jonathan y soy un apasionado de la tecnología y la programación, me encantan los videojuegos y diría que por ellos es que a día de hoy estoy en este ámbito. Siempre tuve la curiosidad de saber cómo es que funcionaban internamente esos mundos fantásticos, tal inquietud me llevó por el camino de la tecnología, empezando por armar y desarmar mi computadora, investigar qué hace cada componente hasta llegar a graduarme en la carrera de Desarrollo de Software programando un videojuego multijugador en línea. Hoy en día he encontrado mi lugar programando aplicaciones web, de cualquier lado que se le vea hay un potencial enorme y un montón de cosas que aprender. Eso me gusta.
        </p>

    </div>
</div>
{% endblock %}