{% extends 'core/base.html' %}

{% block titile %}
    Contacto
{% endblock %}

{% block background %} {% load static %}{% static 'core/img/contact-bg.jpg' %}{% endblock%}

{% block headers %}
    <h1>Contacto</h1>
    <span class="subheading">Momento de hacer realidad tu idea</span>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        <p class="section-heading">¡Hey! Te dejo mi CV a continuación para que puedas ponerte en contacto conmigo</p>
        <br>
        <a class="btn btn-primary btn-lg btn-block" href="{% static 'core/cv.pdf' %}" download="JonathanVaquezCV"> Descargar CV </a>
    </div>
</div>
{% endblock %}